# macOS
.DS_Store

# Xcode 用户私有
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode 工程文件由 xcodegen 自动生成，不进 git
Starcat.xcodeproj/

# SPM
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# 构建产物
DerivedData/
build/

# CocoaPods（不用）
Pods/

# Carthage（不用）
Carthage/Build/

# fastlane（不用）
fastlane/report.xml
fastlane/Preview.html

# IDE
.vscode/
.idea/

# 临时
*.swp
*.swo
*~

notes.md
refer/