PORT=5010
API_KEYS=sk-starcat-dev

# creem production: https://api.creem.io/v1
# creem test:       https://test-api.creem.io/v1
CREEM_API_BASE_URL=https://test-api.creem.io/v1
CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
CREEM_CHECKOUT_URL=
CREEM_CUSTOMER_PORTAL_URL=
